openapi: 3.2.0
info:
  version: 11.13.9
  title: Cloud BE Installations API
  license:
    name: MIT
servers:
- url: https://cloud.wellcube.io/api/v1
security:
- Authorization: []
tags:
- name: installations
paths:
  /installations:
    get:
      summary: 'Installation: List'
      operationId: installationsList
      tags:
      - installations
      parameters:
      - $ref: '#/components/parameters/limit'
      - $ref: '#/components/parameters/offset'
      - name: sortedBy
        in: query
        schema:
          type: string
          enum:
          - id
          - name
          - createdAt
          - updatedAt
          example: createdAt
      - $ref: '#/components/parameters/order'
      - name: productId
        in: query
        description: Associated product id
        schema:
          type: string
      - name: productIsPrimary
        in: query
        description: Associated product is primary
        schema:
          type: boolean
      responses:
        default:
          description: List of installations
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Installation'
components:
  parameters:
    offset:
      name: offset
      in: query
      schema:
        type: integer
        example: 0
    limit:
      name: limit
      in: query
      schema:
        type: integer
        example: 20
    order:
      name: order
      in: query
      schema:
        type: string
        enum:
        - ASC
        - DESC
        example: DESC
  schemas:
    Installation:
      type: object
      required:
      - id
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        macAddress:
          type: string
        ipAddress:
          type: string
          format: ipv4
        ssid:
          type: string
        connected:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        localAccounts:
          type: array
          items:
            $ref: '#/components/schemas/LocalAccount'
        translators:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              name:
                type: string
    LocalAccount:
      type: object
      required:
      - id
      - installationId
      - cloudUserId
      - localUserId
      - localUserToken
      - localUserGroups
      - isPrimary
      - isLegacy
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
          format: uuid
        installationId:
          type: string
          format: uuid
        cloudUserId:
          type: string
          format: uuid
        localUserId:
          type: string
        localUserToken:
          type: string
        localUserSites:
          type: object
        localUserGroups:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
        isPrimary:
          type: boolean
        isLegacy:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
  securitySchemes:
    Authorization:
      type: apiKey
      name: Authorization
      in: header
